<dl class="sub-nav">
  <dt>Sections:</dt>
  <dd class="active"><a href="#">General</a></dd>
  <dd><a href="#">Photos</a></dd>
  <dd><a href="#">Work</a></dd>
  <dd><a href="#">Planning</a></dd>
</dl>
