<!-- Form for submitting a search request -->

<%= form_tag asset_items_url, method: :get do %>
	  <div class="row">

           <div id="custom-search-input">
             <div class="col-md-8">

               <%= select_tag(:stype, asset_items_search_options) %>
               <%= text_field_tag :search, nil, placeholder: "Search term" %>
               <%= submit_tag 'Search/Filter', class: 'button radius tiny secondary' %>

             </div>
           </div>
	  </div>
<% end %>
