<ul class="tabs contained four-up" data-tab>
  <li class="tab-title active"><a href="#">General</a></li>
  <li class="tab-title"><a href="#">Photos</a></li>
  <li class="tab-title"><a href="#">Work</a></li>
  <li class="tab-title"><a href="#">Planning</a></li>
</ul>
