---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Test%20Stripe%20Customer%20for%20johnsmith%40example.com
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7FzmU0Bysjf50b",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7FzmU0Bysjf50b/cards"
          },
          "created": 1446176547,
          "currency": null,
          "default_card": null,
          "default_source": null,
          "delinquent": false,
          "description": "Test Stripe Customer for johnsmith@example.com",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7FzmU0Bysjf50b/sources"
          },
          "subscriptions": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7FzmU0Bysjf50b/subscriptions"
          },
          "subscription": null
        }
  recorded_at: Fri, 30 Oct 2015 03:42:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=John%20Smith&card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2016&card[cvc]=313
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_7Fzmp2ZbF2IgN3",
          "object": "token",
          "card": {
            "id": "card_7Fzmj5VGENjGfs",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 10,
            "exp_year": 2016,
            "fingerprint": "K4rn7HQ6KbOupkia",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": "John Smith",
            "tokenization_method": null,
            "type": "Visa",
            "customer": null
          },
          "client_ip": "96.35.101.2",
          "created": 1446176548,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 30 Oct 2015 03:42:28 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: percent_off=25&duration=repeating&duration_in_months=3&id=DISCOUNT
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "DISCOUNT",
          "object": "coupon",
          "amount_off": null,
          "created": 1446176550,
          "currency": null,
          "duration": "repeating",
          "duration_in_months": 3,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "percent_off": 25,
          "redeem_by": null,
          "times_redeemed": 0,
          "valid": true
        }
  recorded_at: Fri, 30 Oct 2015 03:42:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: amount=3000&interval=month&name=Silver%20Plan&currency=usd&id=SILVER
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "SILVER",
          "object": "plan",
          "amount": 3000,
          "created": 1446176551,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Silver Plan",
          "statement_descriptor": null,
          "trial_period_days": null,
          "statement_description": null
        }
  recorded_at: Fri, 30 Oct 2015 03:42:31 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons/DISCOUNT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "DISCOUNT",
          "object": "coupon",
          "amount_off": null,
          "created": 1446176550,
          "currency": null,
          "duration": "repeating",
          "duration_in_months": 3,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "percent_off": 25,
          "redeem_by": null,
          "times_redeemed": 0,
          "valid": true
        }
  recorded_at: Fri, 30 Oct 2015 03:42:33 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/coupons/DISCOUNT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "DISCOUNT"
        }
  recorded_at: Fri, 30 Oct 2015 03:42:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/SILVER
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "SILVER",
          "object": "plan",
          "amount": 3000,
          "created": 1446176551,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Silver Plan",
          "statement_descriptor": null,
          "trial_period_days": null,
          "statement_description": null
        }
  recorded_at: Fri, 30 Oct 2015 03:42:35 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/BRONZE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "BRONZE",
          "object": "plan",
          "amount": 2500,
          "created": 1446176552,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Bronze Plan",
          "statement_descriptor": null,
          "trial_period_days": null,
          "statement_description": null
        }
  recorded_at: Fri, 30 Oct 2015 03:42:36 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/plans/BRONZE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "BRONZE"
        }
  recorded_at: Fri, 30 Oct 2015 03:42:36 GMT
recorded_with: VCR 2.9.3
