<h1>About Us</h1>
<p>
One Button Registration is a web-based service offered by Netsource
Partners, LLC. This service is designed for simplicity by enabling you
to add event payment features to your existing web site. We do offer
custom web hosting and design services, if you those are required for
your event or conference site. Use our contact form for more information
on custom services.
</p>
<p>
The service itself is hosted on cloud service with auto-scaling and
fail-over capabilities. Site back is run on a nightly basis, and the
service is monitored 24 x 7 for availability.
</p>
<h1>Established 1996</h1>
<p>
Netsource Partners LLC is a privately held company that develops
large-scale enterprise solutions for Fortune 500, mid-sized companies, and
academic institutions seeking high value solutions.  Our partners consist
of former AT&T Bell Laboratories' management and senior engineering
staff members. We pride ourselves in designing and integrating solutions using
best-of-breed processes, technology and standards. Our solutions enable
customers to leverage their existing IT infrastructure with cloud-based
open source systems, while realizing value that their end customers
can see and experience.
</p>
<h1>Experience</h1>
<p>
Our experience enables us to apply a broad and versatile skill set to
the solutions that we provide your company. We pride ourselves in
applying engineering principles and talent throughout the entire
development lifecycle. Our staff and experience enable us to perform
from business process modelling into development and through deployment
of the technology solution. This full-lifecycle engineering approach
has enabled us to deploy some of the largest and most comprehensive
solutions in the country for our clients. We have the reputation of
being the company to call by our industry partners and clients, when
it comes to developing and deploying large scale and complex solutions.
</p>

<h1>Clients</h1>

<%= image_tag "ClientLogo.png", class: "right" %>

<p>
Our experience has been gained from years of hard work with some largest
companies, government agencies, and academic institutions in the
country. This hard won experience is used better our development
processes, our technology tool-set, and our management approach to
building the best solution for your company.
</p>

<p>
Although our client list is filled with larger organizations, we have
found that many of the lessons learned from these clients can be
readily applied to smaller and mid-sized clients. The application of
advanced processes and technologies is much more accessible these days
with the availability of cloud computing and open source software
alternatives. Systems such as IT Service Management, Business
Intelligence, Customer Relationship Management, Enterprise Resource
Planning, and process automation are now within the grasp of almost
any size organization.
</p>


