<h1>Demonstration</h1>
<p>
	If your not ready to try our 30-day free trial, we have an free online demonstration system
	that is available for you to use. You can use our demonstration system by clicking on the
	button below. You can create your own login/password which is good for 24 hours (see
	note below)
</p>

<%= link_to 'Demo System', '#', class: 'button radius center' %>

<p>
	NOTE: The demonstration system is reset and reloaded with demonstration data every
	24 hours.
</p>
<br/><br/>
