<% title 'Asset Keeper' %>

<div class='Format-Header'>
<div class='row'>
	<div class='small-12 columns'>

		<h1>Simplified Infrastructure Asset Management</h1>
		<p>
			As most of the country's infrastructure has aged to the point of needing
			upgrading, repair, or replacement, there is a need to efficiently manage
			the life-cycle of these critical municipal assets. Asset Keeper is an
			online web-based application that enables small to mid-sized municipalities
			to track, maintain, and financially plan for their infrastructure
			improvements. There are is no software to install or contracts to sign.
			The application is accessible from any web-browser on your desktop,
			tablet, or phone.
		</p>

	</div>
</div>
</div>

<div class='Format-Header'>
<div class='row'>
	<div class='small-4 columns'>
		<%= image_tag("asset_inventory.jpg") %>
    <p>
    <br/>
	    Asset inventory is the first step in municipal asset management. You need
	    to know the list and condition of the components that make your infrastructure,
	    in order to maintain and operate it. Asset Keeper includes an easy to use
	    asset inventory system that allows to photograph and geo-locate critical
	    infrastructure components.
    </p>
	</div>

	<div class='small-4 columns'>
		<%= image_tag("asset_operations.jpg") %>
    <p>
    	<br/>
	    Asset operations focuses on maintaining and managing issues associated with
	    with your community's infrastructure. It supports scheduling maintenance
	    activities for critical components, reporting failures or issues associated
	    your assets, and addressing resolution of the infrastructure issues.
    </p>
	</div>

	<div class='small-4 columns'>
		<%= image_tag("asset_planning.jpg") %>
    <p>
    <br/>
	    Asset planning addresses the longer range financial planning for asset
	    replacement, enhancement and expansion. It allows your community to develop
	    a comprehensive financial plan to help you develop a capital plan to keep
	    your infrastructure running smoothly and growing with your community.
    </p>
	</div>
</div>

<div class='row'>
	<div class='small-12 columns'>

		<h1>Helping Your Community</h1>
		<p>
			Asset Keeper is designed for small to medium sized communities that need
			a simple system to track their infrastructure assets. A good asset plan will
			enable your community to keep your infrastructure maintained and enable you
			to help raise improvement capital by showing how the funds will be used.
			The Asset Keeper service does not require any contract, additional computer
			equipment beyond your existing Internet connected computer, or installation
			of special software.
		</p>

	</div>
</div>
</div>
