<% title 'Asset Keeper' %>

<div class='row'>
	<div class='small-9 columns'>

		<h1>Pricing</h1>
		<p>
			Asset Keeper is a subscription based service that costs thousands of
			dollars less then typical server based solutions. The pricing plan for
			Asset Keeper includes:
		</p>
		<ul>
			<li><b>30-day free trial period</b></li>
			<li>No contract or minimum subscription period</li>
			<li>Cancel at any time</li>
			<li>Access to all three modules for asset inventory, operations, and planning</li>
			<li>Single user access per subscription</li>
			<li>Ability to associate multiple user subscriptions under a single organization</li>
			<li>
				Up to 5,000 asset inventory records per user. If you have multiple users per
				organization, you get correspondingly more asset inventory record storage.
			</li>
			<li>
				Up to 10,000 combined asset incident and maintenance per user. Incident records
				represent issue reporting records associated with an asset. Maintenance
				records are for scheduling asset maintenance activities.
			</li>
		</ul>

		<p>
			Note: The inventory, incident, and maintenance record limits are on a per user
			basis. If multiple user subscriptions are associated with a single organizations
			then the limits are shared across the entire organization. For example, if an
			organization has two user/subcribers, then there would be up to 10,000 asset
			inventory records and up to 20,000 combined asset incident and maintenance
			records for the organization.
		</p>
	</div>

	<div class='small-3 columns'>
		<ul class="pricing-table">
		  <li class="title">Monthly</li>
		  <li class="price">$99.00</li>
		  <li class="description">
		  	Access to all application features for a single user. Monthly charges
		  	apply only after initial <b>30-day free trial</b> period.
		  </li>
		  <li class="bullet-item">1 User Account</li>
		  <li class="bullet-item">5,000 asset inventory records</li>
		  <li class="bullet-item">10,000 incident & maintenance records</li>
		  <li class="cta-button"><a class="button" href="#">Subscribe Now</a></li>
		</ul>
	</div>

</div>

