---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Mickey%20Mouse&card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2018&card[cvc]=313
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_7Fyudwnk0SPyOY",
          "object": "token",
          "card": {
            "id": "card_7FyuWNKnjHHI3a",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 10,
            "exp_year": 2018,
            "fingerprint": "K4rn7HQ6KbOupkia",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": "Mickey Mouse",
            "tokenization_method": null,
            "type": "Visa",
            "customer": null
          },
          "client_ip": "96.35.101.2",
          "created": 1446173325,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 30 Oct 2015 02:48:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Acme%20customer%20account.&card=tok_7Fyudwnk0SPyOY&email=andylim%40example.com
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7FyufA7XjFoOD9",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "count": 1,
            "data": [
              {
                "id": "card_7FyuWNKnjHHI3a",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7FyufA7XjFoOD9",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 10,
                "exp_year": 2018,
                "fingerprint": "K4rn7HQ6KbOupkia",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": "Mickey Mouse",
                "tokenization_method": null,
                "type": "Visa"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7FyufA7XjFoOD9/cards"
          },
          "created": 1446173325,
          "currency": null,
          "default_card": "card_7FyuWNKnjHHI3a",
          "default_source": "card_7FyuWNKnjHHI3a",
          "delinquent": false,
          "description": "Acme customer account.",
          "discount": null,
          "email": "andylim@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "count": 1,
            "data": [
              {
                "id": "card_7FyuWNKnjHHI3a",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7FyufA7XjFoOD9",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 10,
                "exp_year": 2018,
                "fingerprint": "K4rn7HQ6KbOupkia",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": "Mickey Mouse",
                "tokenization_method": null,
                "type": "Visa"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7FyufA7XjFoOD9/sources"
          },
          "subscriptions": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7FyufA7XjFoOD9/subscriptions"
          },
          "subscription": null
        }
  recorded_at: Fri, 30 Oct 2015 02:48:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7FyufA7XjFoOD9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cu[...]
