---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/20824
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2013-08-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such customer: 20824",
            "param": "id"
          }
        }
  recorded_at: Fri, 30 Oct 2015 03:30:55 GMT
recorded_with: VCR 2.9.3
